.button-class { 
    background-color: silver;
    position: absolute;
    left: 1000px;
    margin-top: 200px;
    height: 35px;
    width: 135px;
    border-radius: 5px;
   

}
.button2-class { 
    background-color: silver;
    position: absolute;
    left: 1000px;
    top:20px;
    margin-top: 220px;
    height: 35px;
    width: 135px;
    border-radius: 5px;
}
.button3-class { 
    background-color: silver;
    position: absolute;
    left: 1000px;
    top:40px;
    margin-top: 240px;
    height: 35px;
    width: 135px;
    border-radius: 5px;
}
.button4-class { 
    background-color: silver;
    position: absolute;
    left: 1000px;
    top:80px;
    margin-top: 240px;
    height: 35px;
    width: 135px;
    border-radius: 5px;}