.div-prop{
    background-color: whitesmoke;
    position:absolute;
    margin: 90px;
    left: 100px;
    height: 550px;
    width:550px;
    border-radius: 5px;
}

.text-set{
    margin-top: 250px;
    margin-left: 200px;
}